#title {
  text-align:center;
}

main {
  margin-left: auto;
  margin-right: auto;
  width:52em;
}

th,td {
  text-align:center;
}

#table-canvas-configures {
  margin-left: auto;
  margin-right: auto;
  width:30em;

}

#table-line-configures {
  margin-left: auto;
  margin-right: auto;
  width:46em;
}

#generate-btn-container {
  text-align:right;
  margin-right:3em;
}

#canvas-container {
  margin-top: 4em;
  text-align:center;
}
